<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Jobs Deleted</title>
</head>
<body>
    <div class='container'>
        <h3>Your jobs were removed!</h3>
        <h4><a href='/'>Start over</a></h4>
    </div>
</body>
</html>
