<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Resume Creator</title>
</head>
<body>
    <div class='container'>
        <h1>Welcome to the Resume Creator</h1>

        <h2>Enter your name and email address:</h2>
        <form action='/resume' method='post'>
            <div class='form-group'>
                <label for='name'>Full Name</label>
                <input id='name' name='name' class='form-control' type='text'>
                <label for='email'>Email Address</label>
                <input id='email' name='email' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-info'>Create Resume</button>
        </form>
    </div>
</body>
</html>
